/* line 5, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 11, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

/* line 16, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
div.wrapper {
  width: 100%;
  height: 1620px;
  background: url(/assets/background/BeePlanned_background2-95c57ad43953783397681da916c573151bffb2c19afa30dd757e9b38055151a8.png) no-repeat 50% 50%;
}

/* line 22, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
div#beeplanned {
  padding-top: 110px;
  color: #ffd200;
  font-family: Hexergon;
}

/* line 28, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
div#beeplanned h1 {
  font-size: 140px;
}

/* line 32, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
div#beeplanned h2 {
  font-size: 70px;
  margin-top: -32px;
}

/* line 37, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

/* line 45, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

/* line 56, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

/* line 62, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

/* line 75, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav.yellow ul {
  background: #daa520;
}

/* line 79, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
a.black {
  color: #201f1b;
}

/* line 83, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

/* line 88, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
}

/* line 96, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
nav ul li a#active {
  text-decoration: underline;
}

/* line 100, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #daa520;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 786px) {
  /* line 114, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  /* line 120, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  nav ul {
    max-height: 0px;
    background: #daa520;
  }

  /* line 125, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  nav.yellow ul {
    background: #daa520;
  }

  /* line 129, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  .showing {
    max-height: 34em;
  }

  /* line 133, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  /* line 140, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
  .menu-icon {
    display: block;
  }
}
/* line 146, /Users/mika/RubymineProjects/beeplanned/app/assets/stylesheets/home.scss */
#index_logo {
  max-width: 154px;
  max-height: 154px;
}
