<nav>
  <div class="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="logo">
    BeePlanned
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Contact</a></li>
      <li>
        <%= link_to 'Sign out <i class="fa fa-sign-out fa-2x" id="logout"></i>'.html_safe, destroy_user_session_path, method: :delete,
                    style: 'color: darkgray; margin-right: 40px'%>
      </li>
    </ul>
  </div>
</nav>