<div id="new_perusal_comb" style="float: right; color: #f2d002; position: relative; z-index: 20">
  <%= image_tag 'big_honeycomb_centered.png', style: 'width: 240px; height: 240px'%>
  <h2 style="margin-top: -160px" onclick="location.href= '<%= perusal_new_path(:hive_id => @hive.id) %>'" >
    New Perusal<br>
    <i class="fa fa-search-plus fa-2x" ></i>
  </h2>
</div>