<div id="new_perusal_comb" style="margin-top: -47px; margin-right: auto; margin-left: auto; color: #f2d002; position: relative; z-index: 25; width: 290px">
  <%= image_tag 'big_honeycomb_centered.png', style: 'width: 240px; height: 240px'%>
  <h2 style="margin-top: -160px" onclick="location.href= '<%= perusal_new_path(:hive_id => @hive.id) %>'" >New Perusal</h2>
  <i class="fa fa-search-plus fa-3x" ></i>
</div>