<div id="show_all_perusal_comb" style="float: left; color: #f2d002; position: relative; z-index: 20; margin-left: -59px">
  <%= image_tag 'big_honeycomb_centered.png', style: 'width: 240px; height: 240px'%>
  <h2 style="margin-top: -160px" onclick="location.href= '<%= perusal_show_path(:hive_id => @hive.id) %>'" >
    All Perusals<br>
    <i class="fa fa-search fa-2x" ></i>
  </h2>
</div>