<%= javascript_include_tag "hive", "data-turbolinks-track" => true  %>

<div class="wrapper">

  <div style="height: 190px"></div>

  <%= link_to '<i class="fa fa-arrow-circle-left fa-2x"></i>'.html_safe, :back, style: "color: #34322c", id: "back_button" %>

  <div style="text-align: center">

    <%= render 'show_hive_comb' %>

  </div>

</div>