<%= javascript_include_tag "location", "data-turbolinks-track" => true  %>

<div class="wrapper">

  <%= render 'nav' %>

  <div style="height: 300px"></div>

  <div style="text-align: center">
    <%= render 'new' %>
    <%= render 'show_all' %>
  </div>

</div>