/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap";

@font-face {
  font-family: Hexergon;
  src: font_url('iconian-fonts_hexgon/Hexgon-2xwv.otf');
}

@font-face {
  font-family: HexergonBold;
  src: font_url('iconian-fonts_hexgon/HexgonBold-7VLP.otf');
}

@font-face {
  font-family: Hexergon3D;
  src: font_url('iconian-fonts_hexgon/Hexgon3D-vWoA.otf');
}

@font-face {
  font-family: HexergonRotated;
  src: font_url('iconian-fonts_hexgon/HexgonRotated2-0Z9z.otf');
}

@font-face {
  font-family: HexergonStaggered;
  src: font_url('iconian-fonts_hexgon/HexgonStaggered2-WxjA.otf');
}