// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

div.wrapper {
  width: 100%;
  height: 100vh;
  background: image_url('background/BeePlanned_background.png') no-repeat 50% 50%;
  background-size: cover;
}

div#beeplanned {
  padding-top: 110px;
  color: #ffd200;
  font-family: Hexergon;
}

div#beeplanned h1 {
  font-size: 140px;
}

div#beeplanned h2 {
  font-size: 70px;
  margin-top: -32px;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.yellow ul {
  background: #daa520;
}

a.black {
  color: #201f1b;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
}

nav ul li a#active {
  text-decoration: underline;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #daa520;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #daa520;
  }

  nav.yellow ul {
    background: #daa520;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

}

#index_logo {
  max-width: 154px;
  max-height: 154px;
}