// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: image_url('background/BeePlanned_background.png') no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 100;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.yellow ul {
  background: #daa520;
}

a.black {
  color: #201f1b;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
}

nav ul li a#active {
  text-decoration: underline;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #daa520;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #daa520;
  }

  nav.yellow ul {
    background: #daa520;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

}

#index_logo {
  max-width: 154px;
  max-height: 154px;
}

#new_location_form {
  max-width: 400px;
  margin-top: -250px;
  margin-left: -17px;
  color: #f2d002;
}

#show_all_location_table {
  max-width: 400px;
  margin-top: -250px;
  margin-left: -17px;
  color: #f2d002;
}


#show_location_table {
  position: relative;
  max-width: 400px;
  margin-top: -290px;
  margin-left: -17px;
  color: #f2d002;
  z-index: 20;
}

#location_name_unzoomed {
  position: relative;
  margin-top: -150px !important;
  margin-left: -15px;
  color: #f2d002;
  font-size: 34px;
  text-decoration: underline;
  z-index: 10;
}

#new_location_form input[type=text] {
  background-color: transparent;
  border-color: #f2d002;
  color: #f2d002;
}

#img_new_location{
  z-index: -10;
  zoom: 22%;
}

#img_show_all_location{
  z-index: -10;
  zoom: 22%;
}

#img_show_location{
  z-index: -10;
  zoom: 30%;
}

.zoomed_show {
  animation-name: zoom_show_it;
  animation-duration: 0.8s;
  transform: scale(2.5,2.5);
}

@keyframes zoom_show_it {
  0%   {transform: scale(1,1);}
  100% {transform: scale(2.5,2.5);}
}

.zoomed {
  animation-name: zoom_it;
  animation-duration: 0.8s;
  transform: scale(3.5,3.5);
}

@keyframes zoom_it {
  0%   {transform: scale(1,1);}
  100% {transform: scale(3.5,3.5);}
}

.unzoomed_show {
  animation-name: unzoom_show_it;
  animation-duration: 0.4s;
  transform: scale(1,1);
}

@keyframes unzoom_show_it {
  0%   {transform: scale(2.5,2.5);}
  100% {transform: scale(1,1);}
}

.unzoomed {
  animation-name: unzoom_it;
  animation-duration: 0.4s;
  transform: scale(1,1);
}

@keyframes unzoom_it {
  0%   {transform: scale(3.5,3.5);}
  100% {transform: scale(1,1);}
}

.show {
  animation-name: show_it;
  animation-duration: 0.6s;
  transform: scale(1,1);
}

.show_form {
  animation-name: show_it;
  animation-duration: 0.8s;
  transform: scale(1,1);
}

@keyframes show_it {
  0%   {transform: scale(0,0);}
  50%   {transform: scale(0,0);}
  100% {transform: scale(1,1);}
}

.hide {
  animation-name: hide_it;
  animation-duration: 0.3s;
  transform: scale(0,0);
}
@keyframes hide_it {
  0%   {transform: scale(1,1);}
  100% {transform: scale(0,0);}
}

.hidden {display: none;}
.shown {width: initial; height: initial}

div #new_location_comp {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 158px;
}

div #show_all_location_comp {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 158px;
}

div #show_location_comp {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 158px;
  z-index: 0;
}

div #new_location_heading {
  text-align: center;
  margin-top: -155px;
  margin-left: 115px;
  max-width: 160px;
  color: #f2d002;
}

#new_location_heading:hover {
  text-decoration: underline;
}

div #show_all_location_heading {
  text-align: center;
  margin-top: -150px;
  margin-left: 115px;
  max-width: 160px;
  color: #f2d002;
}

#show_all_location_heading:hover {
  text-decoration: underline;
}

.transparent {
  background-color: transparent;
}

#activate_coordinate_input {
  background-color: #f2d002;
}

input[type=submit] {
  background-color: transparent;
  border: 1px #777 solid;
  color: #777;
}

input[type=submit]:hover {
  border-color: #f2d002;
  color: #f2d002;
}

input[type=text].top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

input[type=text].middle {
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

input[type=text].bottom {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

//Table
table.separate {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  border-spacing: 0;
  border-collapse: separate;
}

table#show_all_table {
  width: 420px;
  max-width: 420px;
  font-size: 18px;
  margin-left: -10px;
}

table#show_table {
  margin-left: -50px;
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
  width: 500px;
  max-width: 500px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

table#show_table td { max-width: 130px; width: 130px }
table#show_table td.smaller_td { max-width: 60px; width: 60px}
table#show_table td.small_td { max-width: 80px; width: 80px}

table.separate td {
  padding: 5px 12px;
  border-bottom: 1px solid #f2d002;
  border-right: 1px solid #f2d002;
  color: #777;
}

table.separate th { padding: 15px; }
table.separate th { border-bottom: 1px solid #f2d002; }
table.separate tr:last-child td:first-child { border-bottom-left-radius:10px; }
table.separate tr:last-child td:last-child { border-bottom-right-radius:10px; }
table.separate tr td:first-child { border-left: 1px solid #f2d002; }
table.separate tr:first-child td { border-top: 1px solid #f2d002; }
table.separate tr:first-child td:first-child { border-top-left-radius:10px }
table.separate tr:first-child td:last-child { border-top-right-radius:10px }

table#show_all_table tr:hover td{
  color: #f2d002 !important;
}


//Slider
.switch input {
  display:none;
}
.switch {
  display:inline-block;
  width:50px;
  height:16px;
  margin:8px;
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:30px;
  box-shadow:0 0 0 1px #777, 0 0 1px #777;
  cursor:pointer;
  border:3px solid transparent;
  overflow:hidden;
  transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:25%;
  height:100%;
  background: #777;
  border-radius:30px;
  transform:translateX(-21px);
  transition:.4s;
}

input:checked + .slider:before {
  transform:translateX(9px);
  background:#f2d002;
}
input:checked + .slider {
  box-shadow:0 0 0 1px #f2d002,0 0 1px #f2d002;
}