<h1>Ja Moin, super 1P</h1>
<div style="align: center">
  <%= image_tag 'Superv3-top.png', id: 'img_super', style: 'width: 18%; margin-top: -60px'%>
  <h4 style="margin-top: -56px; color: #f2d002">Add Super +</h4>

  <br><br><br><br>

  <%= image_tag 'Superv3-top.png', id: 'img_super', style: 'width: 60%; margin-top: -64px;z-index: 32; position: relative'%>
  <%= image_tag 'Superv3-top.png', id: 'img_super', style: 'width: 60%; margin-top: -64px;z-index: 31; position: relative'%>
  <%= image_tag 'Superv3-top.png', id: 'img_super', style: 'width: 60%; margin-top: -64px;z-index: 30; position: relative'%>
</div>